<div class="outer">
    <div class="title">
        <div class="head">
            {{ syncPrefix }} ({{ nodeId }})
        </div>
        <div class="leave" (click)="leaveRoom()">Leave</div>
    </div>

    <div class="chatbox" #scrollframe>
        <div *ngFor="let entry of messages" class="block" [class.self]="entry.nid === nodeId">
            <div class="inner-block" title="#{{ entry.seq }}">
                <span class="sender">{{ entry.nid }}</span>
                <span class="message">{{ entry.message }}</span>
            </div>
        </div>
    </div>

    <div class="typingbox">
        <input class="type-box" [(ngModel)]="typedMessage" (keyup.enter)="sendMessage()" type="text">
        <button class="m-button send-button" (click)="sendMessage()">Send</button>
    </div>
</div>
