.chooser {
    position: absolute;
    top: 0; left: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0px 5px -2px black;
    color: black;
    z-index: 500;
}

.content {
    position: absolute;
    top: 0; left: 20vw;
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
}