.chooser {
    position: absolute;
    top: 0; left: 0;
    width: 20vw;
    height: 100vh;
    background-color: black;
}

.content {
    position: absolute;
    top: 0; left: 20vw;
    width: 80vw;
    height: 100vh;
    box-sizing: border-box;
}